/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

  /* Styles limited to railers sheets */

.railers .item-form {
  font-family: "Roboto", sans-serif;
}
.railers .sheet-head {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}
.railers .sheet-head .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.railers .sheet-head .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.railers .sheet-head h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.railers .sheet-head h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.railers .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.railers .sheet-sidebar {
  width: 120px;
  padding-right: 10px;
  border-right: 1px solid #b5b3a4;
  float: left;
}

.railers .sheet-sidebar,
.railers .sheet-body,
.railers .sheet-body .tab,
.railers .sheet-body .tab .editor {
  height: 100%;
}

.railers .character .sheet-body,
.railers .npc .sheet-body,
.railers .train .sheet-body,
.railers .demon .sheet-body {
  padding-left: 130px;
}
.railers .tox .tox-editor-container {
  background: #fff;
}
.railers .tox .tox-edit-area {
  padding: 0 8px;
}
.railers .resource-label {
  font-weight: bold;
}
.railers .items-header,
.railers .weapons-header,
.railers .clothing-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.railers .items-header > *,
.railers .weapons-header > *,
.railers .clothing-header > * {
  font-size: 14px;
  text-align: center;
}
.railers .items-header .item-name,
.railers .weapons-header .weapon-name,
.railers .clothing-header .clothing-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.railers .item-load,
.railers .item-stowage,
.railers .wound-damage,
.railers .wound-severity,
.railers .item-quantity,
.railers .textcenter {
  text-align: center;
}
.railers .items-list,
.railers .clothing-list,
.railers .weapons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.railers .items-list .item-list,
.railers .weapons-list .weapon-list,
.railers .clothing-list .clothing-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.railers .items-list .item-name,
.railers .weapons-list .weapon-name,
.railers .clothing-list .clothing-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.railers .demon .items-list .item-name {
  flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}

.railers .items-list .item-name h3, .railers .items-list .item-name h4,
.railers .clothing-list .clothing-name h3, .railers .clothing-list .clothing-name h4,
.railers .weapons-list .weapon-name h3, .railers .weapons-list .weapon-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.railers .items-list .item-controls,
.railers .wound-controls,
.railers .clothing-list .clothing-controls,
.railers .weapons-list .weapon-controls,
.railers .ability-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.railers .items-list .item-controls a,
.railers .wound-controls a,
.railers .weapons-list .weapon-controls a,
.railers .clothing-list .clothing-controls a,
.railers .ability-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.railers .items-list .item,
.railers .weapons-list .weapon,
.railers .clothing-list .clothing {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.railers .items-list .item:last-child,
.railers .weapons-list .weapon:last-child,
.railers .clothing-list .clothing:last-child {
  border-bottom: none;
}
.railers .items-list .item .item-name,
.railers .weapons-list .weapon .weapon-name,
.railers .clothing-list .clothing .clothing-name {
  color: #191813;
}
.railers .items-list .item .item-name .item-image,
.railers .weapons-list .weapon .weapon-name .weapon-image,
.railers .clothing-list .clothing .clothing-name .clothing-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.railers .items-list .item-prop,
.railers .weapons-list .weapon-prop,
.railers .clothing-list .clothing-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.railers .items-list .items-header,
.railers .weapons-list .weapons-header,
.railers .clothing-list .clothing-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.railers .items-list .items-header > *,
.railers .weapons-list .weapons-header > *,
.railers .clothing-list .clothing-header > * {
  font-size: 12px;
  text-align: center;
}
.railers .items-list .items-header .item-name,
.railers .weapons-list .weapons-header .weapon-name,
.railers .clothing-list .clothing-header .clothing-name {
  padding-left: 5px;
  text-align: left;
}
.railers .item-formula,
.railers .weapon-formula,
.railers .clothing-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}
.railers .effects .item .effect-source,
.railers .effects .item .effect-duration,
.railers .effects .item .effect-description,
.railers .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.railers .effects .item .effect-controls {
  border: none;
}

.railers .widthmin {
  width: min-content;
}

.railers .asl,
.railers .achievements,
.railers .contacts {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
}

.railers .fillspace {
  width: -webkit-fill-available;
}

.railers .resource {
  padding-bottom: 5px;
}

.railers .attributes,
.railers .skills {
  text-align: center;
}

.railers span {
  align-self: center;
  font-size: 16px;
}

.railers .flower {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.railers .hex {
  display: flex;
  position: relative;
  width: 100px;
  height: 96px;
  margin: -8px -12px;
  background-color: #ffffff;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.railers .hex.inactive::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5);
}

.railers .hex.active::after {
  content: none;
}

.railers .hex img,
.railers .d12hex img {
  object-fit: fill;
  border: none;
}

.railers .d12hex-wrapper {
  position: relative;
  padding: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.railers .d12hex {
  display: flex;
  position: relative;
  width: 100px;
  height: 96px;
  background-color: #ffffff;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.railers .d12hex .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.railers .d12hex-wrapper .face {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
}

.railers .d12hex-wrapper .face.top {
  transform: translate(0%, -75%);
}

.railers .d12hex-wrapper .face.right-top {
  transform: translate(100%, -25%);
}

.railers .d12hex-wrapper .face.right-bottom {
  transform: translate(100%, 85%);
}

.railers .d12hex-wrapper .face.bottom {
  transform: translate(0%, 145%);
}

.railers .d12hex-wrapper .face.left-bottom {
  transform: translate(-100%, 85%);
}

.railers .d12hex-wrapper .face.left-top {
  transform: translate(-100%, -25%);
}

.dice-results {
  flex: 0 0 100%;
  position: relative;
  margin: 5px 0 0 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}

.railers .ability-description {
  flex: 2;
}

.railers label.checkbox {
  font-size: 14px;
}

.railers .toggle {
  text-align: center;
  justify-self: flex-start;
}