<div class="mutation-dialog">
  <div class="mutation-dialog-result">
    <img src="{{img}}" width="32" height="32"/>
    <strong>{{name}}</strong>
  </div>
  {{#if description}}
    {{{description}}}
  {{/if}}
  <p>{{localize "RAILERS.dialogs.mutation.addPrompt"}}</p>
</div>