<div>
    <div class="modifier grid">
        <label for="modifier">{{localize "RAILERS.Modifier"}}:</label>
        <input type="number" name="modifier" value="0" />
    </div>
    <div class="form-group grid">
        <label for="tn">{{localize "RAILERS.SelectTN"}}:</label>
        <select name="tn" id="tn">
            <option value="4">{{localize "RAILERS.TN4"}}</option>
            <option selected value="5">{{localize "RAILERS.TN5"}}</option>
            <option value="6">{{localize "RAILERS.TN6"}}</option>
            <option value="7">{{localize "RAILERS.TN7"}}</option>
            <option value="8">{{localize "RAILERS.TN8"}}</option>
        </select>
    </div>
</div>
