  <div class="form-group grid">
    <label>{{localize "RAILERS.WoundType"}}:</label>
    <input type="text" name="wound-name">
  </div>
  <div class="form-group grid">
    <label>{{localize "RAILERS.Damage"}}:</label>
    <input type="number" name="wound-damage">
  </div>
  <div class="form-group grid">
    <label>{{localize "RAILERS.Severity"}}:</label>
    <input type="number" name="wound-severity">
  </div>