<div class="form-group">
  <label>{{localize "RAILERS.dialogs.wound.woundType"}}</label>
  <input type="text" name="wound-name" value="Wound"/>
</div>
<div class="form-group">
  <label>{{localize "RAILERS.dialogs.wound.damage"}}</label>
  <input type="number" name="wound-damage" value="1"/>
</div>
<div class="form-group">
  <label>{{localize "RAILERS.dialogs.wound.severity"}}</label>
  <input type="number" name="wound-severity" value="1"/>
</div>
