{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
    <div class="item-sheet-column" data-group="primary" data-tab="attributes">
        <div class="resource">
            <label class="resource-label">{{localize "RAILERS.Item.Ability.FIELDS.action.label"}}</label>
            <select name="system.action">
                {{selectOptions config.actionTypeOptions selected=system.action localize=true}}
            </select>
        </div>
    </div>
</section>