  {{!-- Item List --}}
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Name"}}</div>
      <div class="ability-action">{{localize "RAILERS.Action"}}</div>
      <div class="ability-description">{{localize "RAILERS.Description"}}</div>
      <div class="ability-controls">
        <a class="ability-control item-create" title="{{localize 'RAILERS.AddAbility'}}" data-type="ability"><i class="fas fa-plus"></i> {{localize "RAILERS.AddAbility"}}</a>
      </div>
    </li>
    {{#each items as |item id|}}
      {{#if (eq item.type "ability")}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="ability-action textcenter">{{item.system.action}}</div>
        <div class="ability-description">{{{item.system.description}}}</div>
        <div class="ability-controls">
          <a class="ability-control item-edit" title="{{localize 'RAILERS.AddWound'}}"><i class="fas fa-edit"></i></a>
          <a class="ability-control item-delete" title="{{localize 'RAILERS.AddWound'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/if}}
    {{/each}}
  </ol>