<form class="{{cssClass}} {{actor.type}} grid grid-4col" autocomplete="off">
  <div class="flower">
    <div class="d12hex-wrapper">
      <div class="d12hex">
        <div class="face top">12</div>
        <div class="face right-top">2</div>
        <div class="face right-bottom">4</div>
        <div class="face bottom">6</div>
        <div class="face left-bottom">8</div>
        <div class="face left-top">10</div>
        <div class="inner">1d12</div>
      </div>
    </div>
  </div>

  <div class="flower grid-span-3">

    <div class="hex-column">
      <div class="hex"><img src="systems/railers/assets/tiles/snowhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/hillhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/icehex.svg"></div>
    </div>

    <div class="hex-column">
      <div class="hex"><img src="systems/railers/assets/tiles/hillhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/mountainhex.svg"></div>
    </div>

    <div class="hex-column">
      <div class="hex"><img src="systems/railers/assets/tiles/mountainhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/mountainhex.svg"></div>
    </div>

    <div class="hex-column">
      <div class="hex"><img src="systems/railers/assets/tiles/hillhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/flathex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/hillhex.svg"></div>
    </div>

    <div class="hex-column">
      <div class="hex"><img src="systems/railers/assets/tiles/snowhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/hillhex.svg"></div>
      <div class="hex"><img src="systems/railers/assets/tiles/icehex.svg"></div>
    </div>
    
  </div>

</form>