<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Quantity"}}</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Load"}}</label>
          <input type="number" name="system.load" value="{{system.load}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Stowage"}}</label>
          <select name="system.stowage">
            {{#select item.system.stowage}}
            <option value="onHand">{{localize "RAILERS.OnHand"}}</option>
            <option value="stowed">{{localize "RAILERS.Stowed"}}</option>
            <option value="other">{{localize "RAILERS.Other"}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "RAILERS.Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "RAILERS.Attributes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Type"}}</label>
        <select name="system.type">
          {{#select item.system.type}}
          <option value="headgear">{{localize "RAILERS.Headgear"}}</option>
          <option value="innerwear">{{localize "RAILERS.Innerwear"}}</option>
          <option value="armor">{{localize "RAILERS.ClothingArmor"}}</option>
          <option value="outerwear">{{localize "RAILERS.Outerwear"}}</option>
          {{/select}}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Protection"}}</label>
        <input type="number" name="system.protection" value="{{system.protection}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Insulation"}}</label>
        <input type="number" name="system.insulation" value="{{system.insulation}}" data-dtype="Number"/>
      </div>
    </div>
  </section>
</form>
