<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Quantity"}}</label>
          <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Load"}}</label>
          <input type="number" name="system.load" value="{{system.load}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "RAILERS.Stowage"}}</label>
          <select name="system.stowage">
            {{selectOptions stowageOptions selected=system.stowage localize=true}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "RAILERS.Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "RAILERS.Attributes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.RollFormula"}}</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Damage"}}</label>
        <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Severity"}}</label>
        <input type="number" name="system.severity" value="{{system.severity}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Attack"}}</label>
        <select name="system.attack">
          {{selectOptions actionOptions selected=system.attack localize=true}}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Range"}}</label>
        <select name="system.range">
          {{selectOptions rangeOptions selected=system.range localize=true}}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Reload"}}</label>
        <select name="system.reload">
          {{selectOptions actionOptions selected=system.reload localize=true}}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">{{localize "RAILERS.Magazine"}}</label>
        <input type="number" name="system.magazine.max" value="{{system.magazine.max}}" data-dtype="Number"/>
      </div>
    </div>
  </section>
</form>
